flows/Panel_or_PCB-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>1099</locationX>
        <locationY>126</locationY>
        <assignmentItems>
            <assignToReference>PCBmm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mm</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Panel</name>
        <choiceText>Panel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Panel</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCB</name>
        <choiceText>PCB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PCB</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>597</locationX>
        <locationY>185</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PBC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PCB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PBC2</targetReference>
            </connector>
            <label>PBC</label>
        </rules>
        <rules>
            <name>Panel2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Panel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Panel3</targetReference>
            </connector>
            <label>Panel</label>
        </rules>
    </decisions>
    <interviewLabel>Panel or PCB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Panel or PCB</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>236</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Panel3</name>
        <label>Panel</label>
        <locationX>853</locationX>
        <locationY>307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
    </screens>
    <screens>
        <name>PBC2</name>
        <label>PBC</label>
        <locationX>862</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <fields>
            <name>mm</name>
            <dataType>String</dataType>
            <fieldText>mm</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>PBC</pausedText>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>422</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>Select</name>
            <choiceReferences>Panel</choiceReferences>
            <choiceReferences>PCB</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lookup_Opportunity</startElementReference>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PCBmm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
